#bio
  max-width: 75%
  margin: 15px 15%
  text-align: justify
  font-size: 17px
  line-height: 1.25em

.bioP 
  padding: 1em 0em
  max-width: 490px
  
#bioPic
  width: 75%
  max-width: 400px
  margin: 0px 0px 0px 45px
  padding: 15px 40px
  box-shadow: 0px 2px 10px #6D7060
  background-color: #6D7060
