.socialLinks
  width: auto
  height: auto
  text-align: center

.logo
  width: 60px
  height: auto
  margin: 30px

#github
  height: 60px
  width: auto

#github:hover
  height: 75px

#twitter
  height: 70px
  width: auto

#twitter:hover
  height: 85px


   

.logo:hover
  width: 75px
  height: 75px
  
#contactP
  // width: 50%
  padding: 60px 25% 30px 25%
  margin: 0, 25%
  text-align: center



