  
.siteLink
  padding: 15px
  color: black
  margin: auto

#nav
  padding-top: 50px
  font-family: 'Fredericka the Great', cursive
  


#name 
  font-size: 30px
  padding: 15px
  padding-bottom: 0px
  text-shadow: 0px 2px 5px #6D7060
  color:#6D7060
  font-family: 'Fredericka the Great', cursive

#dev
  font-size: 15px
  padding: 15px
  padding-top: 0px
  font-family: 'Fredericka the Great', cursive
  color:#6D7060

.siteLink:hover
  font-size: 20px
  color: black



.header
  box-shadow: 0px 2px 10px #6D7060
  position: sticky
  top: 0
  width: 100%
  boarder-style: solid
  background-color: white
  z-index: 2

  
